.logoscorp {
    .banner-hero.banner-hero-cms.banner-home {
        padding-top: 80px;

        .tc-home-tracking {
            bottom: -290px;
        }
    }

    .tradition-services-section {
        padding-top: 340px;
    }
}