.logoscorp {

    .et_pb_section.tc-section-rates {
        margin-top: -180px;
    }

    .tc-offices-section {

        .et_pb_row_0_tb_body {

            top: -200px;
        }
    }

    //HOME

    .tc-home-services {

        h3 {
            font-size: 3.25rem;

        }

    }

}