
/*********************************
    Color variables
**********************************/

$light-blue:#0560A2;
$blue: #0466AD;
$medium-blue: #004268;
$dark-blue: #152B3A;
$light-red:#F05036;
$light-yellow: #FFCC00;
$dark-yellow: #F7C600;
$light-gray: #F6F6F6;
$light-gray-2: #dedede;
$light-gray-3: #e5e5e5;
$medium-gray: #B4B4B4;
$dark-gray: #484649;
$darker-gray: #444445;
$pink: #FACBC3;
$light-yellow: #FFF6E3;
$dim-gray: #3E4C56;
